*{margin:0;padding:0;}
body{font-family: 'Open Sans', sans-serif;}
.wrapper{width:100%;max-width:100%;}
.logo{margin:0 auto;max-width:230px;width:100%;padding:10px 0 7px 0; }
.header1{background:url(../images/bg0.png) top no-repeat; height:644px ;  width:100%; margin:0 auto; border-top:3px solid #0091FF; background-size:100%;}
.banner{max-width:1300px;width:100%;margin:0 auto;}
.btnapp{padding:25px 0 35px 45px; max-width:1300px;width:95%;margin:0 auto;}
.macbtn{padding-left:30px; border:0;}
.aboutus{background:#0096ff;width:100%;float:left;color:white;clear:both;}
.abtuswidth{max-width:1300px; width:100%;margin:0 auto;}
.abtuscontent{max-width:635px;width:100%;padding: 100px 0 90px 60px; float:left;}
.abtusheading{font-size:20px; font-weight:600;}
.abtusheading2{font-size:40px;}
.abtusheading3{font-size:18px;}
.btnloadmore{background:white; color:#0096ff;font-size:16px;font-weight:600;padding:15px 30px;border-radius:5px;border:0;cursor:pointer}
.mobileimg{ background:url(../images/mobile.png) no-repeat;  height:570px;width:485px; float:right;position:relative;bottom:-45px;padding-right:35px;}

.svcimg{max-width:244px; width:100%; height:50px; float:left;}
/*.svcimg:hover{max-width:244px;  width:100%; height:70px;}*/
.barpub{background:url(../images/bars&pubs.png) no-repeat center;}
.barpub:hover{background:url(../images/bars&pubs_hover.png) no-repeat center;}
.reservedtable{background:url(../images/reserved_table.png) no-repeat center; }
.reservedtable:hover{background:url(../images/reserved_table_hover.png) no-repeat center;}
.getdirection{background:url(../images/get_direction.png) no-repeat center; }
.getdirection:hover{background:url(../images/get_direction_hover.png) no-repeat center;}
.distance{background:url(../images/distance.png) no-repeat center; max-width:244px;}
.distance:hover{background:url(../images/distance_hover.png) no-repeat center;}
.rating{background:url(../images/rating.png) no-repeat center; max-width:244px; }
.rating:hover{background:url(../images/rating_hover.png) no-repeat center;}
.downtxt{clear:both;padding-top:90px;padding-bottom:30px;color:#2e2e2e;}
.downtxt:hover{color:#0096ff !important;}
.services{text-align:center;color:#525252;clear: both;float: left; width:100%;}
.svcdiv{max-width:1220px; width:100%; margin:70px auto ;border:1px solid #e3e3e3; }
.linebtn{border:1px solid #0096ff;background:none;margin:42px auto; padding:18px 50px;color:#0096ff;font-size:20px;font-weight:400}
.linebtn:hover{background:#0096ff; color:white; cursor:pointer}
.middlediv{background:#f7fcff;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;width:100%;float:left;}
.svc_cat{max-width:244px;width:100%;  font-size:18px; margin:3px auto; float:left;}
.svc_cat:hover{color:#0096ff !important;}
.whatucan{padding:30px 0;width: 100%; float: left;}
.video{background:url(../images/bg2.png) repeat-x ;clear:both;text-align:center;}
.onesentence{color:white; font-size:28px;padding-top: 75px;}
.playbtn{position: relative; bottom: -7px;}
.video_img{padding-top:50px;padding-bottom:60px;}
.customer{width:100%;text-align:center; color:white;background:url(../images/bg3.png) repeat-x; padding:0 0 75px 0;}
.custwidth{max-width:950px;width:100%;margin:0 auto;padding-top: 75px;}
.customersay{font-size:28px; padding-bottom:20px;}
.italic{font-size:18px; font-style:italic;width:80%;font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;}
.johndoe{border-top:1px solid white;width:240px;margin:40px auto 0 auto;padding-top:10px;padding-bottom:75px;}
.contactform{max-width:1220px;width:100%;margin:0 auto;}
.contactus{background:url(../images/underline.png) no-repeat bottom center; font-size:40px;font-family: 'Raleway', sans-serif;width:100%;color:#3e3e3e ;text-align:center;padding-bottom:15px;padding-top:69px;}
.belowcntc{ font-size:17px;color:#686868; text-align:center;padding-top:10px;padding-bottom:80px;}
.rightdiv{max-width:555px;width:100%;float:left; border-bottom:1px solid #dbdbdb;border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb;border-top:2px solid #0096ff;margin-bottom:66px;}
.rightsubdiv{max-width:490px;width:100%;margin:0 auto;padding-top:57px;}
.rightheading{font-size:30px;font-family: 'Raleway', sans-serif;width:100%;color:#282828 ;text-align:center;padding-bottom:52px;}
.rightheadingnew{font-size:25px;font-family: 'Raleway', sans-serif;width:100%;color:#282828 ;text-align:center;padding-bottom:52px;}
.socialicon{}
.socialnew{ width:42px; height:42px; float:left;padding-right:15px;}
/*.socialnew:hover{width:42px; height:42px;}*/
.tt{background:url(../images/tt.png) no-repeat;}
.tt:hover{background:url(../images/tt_hover.png) no-repeat; }
.pinterest{background:url(../images/pinterest.png) no-repeat;}
.pinterest:hover{background:url(../images/pinterest_hover.png) no-repeat;}
.in{background:url(../images/in.png) no-repeat;}
.in:hover{background:url(../images/in_hover.png) no-repeat;}
.fb{background:url(../images/fb.png) no-repeat; width:42px;}
.fb:hover{background:url(../images/fb_hover.png) no-repeat;}
.google{background:url(../images/g+.png) no-repeat;}
.google:hover{background:url(../images/g+_hover.png) no-repeat; }
.rightpara{padding-top:84px;padding-bottom:42px; border-bottom:1px solid #565656;}
.rightaddress{line-height:40px;padding-top:52px;width:286px;padding-bottom:120px;}
ul{list-style-type:none}
.leftdiv{max-width:558px;width:100%;float:right; border-bottom:1px solid #dbdbdb;border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb;border-top:2px solid #0096ff;margin-bottom:66px;}
.leftdivnew{max-width:558px;width:100%; border-bottom:1px solid #dbdbdb;border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb;border-top:2px solid #0096ff;margin:60px auto 60px auto;padding:20px 0 0 79px;}
input:focus {outline:none;}
textarea:focus {outline:none;}
.txtfield{background:#f1efef;border-radius:2px; border-top: 1px solid #dbdbdb;border-right: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;border-left: 3px solid #dbdbdb;width:450px;height:50px;margin-bottom:15px;padding-left:25px;}
.txtareafield{background:#f1efef;border-radius:2px; border-top: 1px solid #dbdbdb;border-right: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;border-left: 3px solid #dbdbdb; width:450px;height:177px;margin-bottom:47px;padding-left:25px;padding-top:10px;}
.sendform{border:0; padding: 20px;background:#0096ff; border-radius:5px;font-size:20px;color:#fbfbfb; font-weight:600;margin-bottom:70px;}
.sendform:hover{cursor:pointer}
.footer{background:#f2f1f1;border-top:1px solid #dbdbdb;clear:both;}
.footersub{max-width:1220px;width:100%;margin:0 auto;text-align:center;font-size:18px;color:#282828;padding:50px 0;}
/* placeholder css */
::-webkit-input-placeholder {font-size:16px; color:#bcbcbc;}
:-moz-placeholder { /* Firefox 18- */ font-size:16px;color:#bcbcbc;}
::-moz-placeholder {  /* Firefox 19+ */   font-size:16px;color:#bcbcbc;}
:-ms-input-placeholder {  font-size:16px;color:#bcbcbc;}
textarea::-webkit-input-placeholder {font-size:18px; font-style:italic;color:#bcbcbc;}
textarea:-moz-placeholder { /* Firefox 18- */ font-size:18px;font-style:italic;color:#bcbcbc;}
textarea::-moz-placeholder {  /* Firefox 19+ */ font-size:18px;font-style:italic;color:#bcbcbc;}
textarea:-ms-input-placeholder { font-size:18px;font-style:italic;color:#bcbcbc;}

.loginwrap_error_text {
    background: #f2dedf none repeat scroll 0 0 !important;
    border: 1px solid #ff0000 !important;
}

.validationfrm {
    color: #f00;
    float: left;
    position: relative;
    top: 5px;
}

.loginmsg {
    float: left;
    padding: 0 0 15px 0 !important;
    width: 100%;
}

/* slider css */ 
.testioneslide{ float:left; width:100%;}
.testipostname{ float:left; width:100%; padding:30px 0 0 0; font-family: 'Open Sans', sans-serif; font-weight:400; font-style:normal; font-size:16px;}



/* Media Queries */
@media only screen and (max-width:1304px){
.header1{height: 636px;}
}
@media only screen and (max-width:1300px){
.svcdiv{width:99%;}
}
@media only screen and (max-width:1289px){
.header1{height: 636px;}
}
@media only screen and (max-width:1288px){
.header1{height: 634px;}	
}
@media only screen and (max-width:1284px){
.header1{height: 630px;}	
}
@media only screen and (max-width:1276px){
.header1{height: 628px;}	
.btnapp{padding: 11px 0 0 10px;}
}
@media only screen and (max-width:1272px){
.header1{height: 626px;}	
}
@media only screen and (max-width:1268px){
.header1{height: 624px;}	
}
@media only screen and (max-width:1264px){
.header1{height: 622px;}	
}
@media only screen and (max-width:1260px){
.header1{height: 620px;}	
}
@media only screen and (max-width:1256px){
.header1{height: 618px;}	
}
@media only screen and (max-width:1252px){
.header1{height: 616px;}
.svc_cat{max-width: 235px;}	
}
@media only screen and (max-width:1248px){
.header1{height: 614px;}	
}
@media only screen and (max-width:1244px){
.header1{height: 612px;}	
}
@media only screen and (max-width:1240px){
.header1{height: 610px;}	
}
@media only screen and (max-width:1236px){
.header1{height: 608px;}	
.banner img{ width:53%;}
}
@media only screen and (max-width:1232px){
.header1{height: 606px;}	
.abtusheading2{ font-size:35px;}
.abtusheading3{font-size: 16px;}
.mobileimg{background-size: 350px; background: url(../images/mobile.png) no-repeat right; width: 460px;}
}
@media only screen and (max-width:1228px){
.header1{height: 604px;}	
}
@media only screen and (max-width:1224px){
.header1{height: 602px;}	
}
@media only screen and (max-width:1220px){
.header1{height: 600px;}	
}
@media only screen and (max-width:1216px){
.header1{height: 598px;}
.mobileimg{background-size: 400px; }	
}
@media only screen and (max-width:1212px){
.header1{height: 596px;}	
}
@media only screen and (max-width:1208px){
.header1{height: 594px;}	
}
@media only screen and (max-width:1206px){
.abtuscontent{max-width: 629px;}
.mobileimg{ width:400px;}	
}
@media only screen and (max-width:1204px){
.header1{height: 592px;}	
.svc_cat{ width:230px; font-size:16px;}
}
@media only screen and (max-width:1200px){
.header1{height: 590px;}	
}
@media only screen and (max-width:1196px){
.header1{height: 588px;}	
}
@media only screen and (max-width:1192px){
.header1{height: 586px;}	
}
@media only screen and (max-width:1188px){
.header1{height: 584px;}	
}
@media only screen and (max-width:1184px){
.header1{height: 582px;}	
}
@media only screen and (max-width:1180px){
.header1{height: 580px;}
.svc_cat{ width: 225px;}	
}
@media only screen and (max-width:1176px){
.header1{height: 578px;}	
}
@media only screen and (max-width:1172px){
.header1{height: 576px;}	
}
@media only screen and (max-width:1168px){
.header1{height: 574px;}	
}
@media only screen and (max-width:1164px){
.header1{height: 572px;}	
}
@media only screen and (max-width:1160px){
.header1{height: 570px;}	
}
@media only screen and (max-width:1156px){
.header1{height: 568px;}	
.svc_cat{ width:220px; font-size: 14px}
}
@media only screen and (max-width:1152px){
.header1{height: 566px;}	
}
@media only screen and (max-width:1148px){
.header1{height: 564px;}	
}
@media only screen and (max-width:1144px){
.header1{height: 562px;}	
}
@media only screen and (max-width:1140px){
.header1{height: 560px;}
.mobileimg{ background-size:350px; width: 330px;}	
}
@media only screen and (max-width:1136px){
.header1{height: 558px;}	
}
@media only screen and (max-width:1132px){
.header1{height: 556px;}	
}
@media only screen and (max-width:1128px){
.header1{height: 554px;}	
.svc_cat{ width:210px;}
}
@media only screen and (max-width:1124px){
.header1{height: 552px;}	
}
@media only screen and (max-width:1120px){
.header1{height: 550px;}	
}
@media only screen and (max-width:1116px){
.header1{height: 548px;}	
}
@media only screen and (max-width:1112px){
.header1{height: 546px;}	
}
@media only screen and (max-width:1108px){
.header1{height: 542px;}	
}
@media only screen and (max-width:1104px){
.header1{height: 540px;}	
}
@media only screen and (max-width:1100px){
.header1{height: 538px;}	
}
@media only screen and (max-width:1096px){
.header1{height: 536px;}	
}
@media only screen and (max-width:1092px){
.header1{height: 534px;}	
}
@media only screen and (max-width:1088px){
.header1{height: 532px;}	
}
@media only screen and (max-width:1084px){
.header1{height: 530px;}	
}
@media only screen and (max-width:1080px){
.header1{height: 528px;}
.svc_cat { width: 200px;}	
}
@media only screen and (max-width:1076px){
.header1{height: 526px;}	
}
@media only screen and (max-width:1072px){
.header1{height: 524px;}	
}
@media only screen and (max-width:1070px){
.abtusheading2{ font-size:30px;}
.abtusheading{ font-size:18px;}
.abtuscontent{max-width: 620px;}	
}
@media only screen and (max-width:1068px){
.header1{height: 522px;}	
}
@media only screen and (max-width:1064px){
.header1{height: 520px;}	
}
@media only screen and (max-width:1061px){
.mobileimg{background-size: 340px; width: 307px;}
.abtuscontent{padding: 100px 0 90px 30px;}
}
@media only screen and (max-width:1060px){
.header1{height: 518px;}	
}
@media only screen and (max-width:1056px){
.header1{height: 516px;}	
}
@media only screen and (max-width:1052px){
.header1{height: 514px;}	
}
@media only screen and (max-width:1048px){
.header1{height: 510px;}	
}
@media only screen and (max-width:1044px){
.header1{height: 508px;}	
}
@media only screen and (max-width:1040px){
.header1{height: 506px;}	
}
@media only screen and (max-width:1036px){
.header1{height: 504px;}	
}
@media only screen and (max-width:1032px){
.header1{height: 502px;}	
}
@media only screen and (max-width:1028px){
.header1{height: 500px;}	
.svc_cat{width: 190px;}
.linebtn{ font-size:18px;}
.whatucan{ font-size:14px;}
}
@media only screen and (max-width:1024px){
.header1{height: 498px;}	
}
@media only screen and (max-width:1020px){
.header1{height: 496px;}	
}
@media only screen and (max-width:1016px){
.header1{height: 494px;}	
}
@media only screen and (max-width:1012px){
.header1{height: 492px;}	
}
@media only screen and (max-width:1008px){
.header1{height: 490px;}
.abtuscontent{ width:600px;}
.abtusheading2{ font-size:25px;}	
}
@media only screen and (max-width:1004px){
.header1{height: 488px;}	
}
@media only screen and (max-width:1000px){
.header1{height: 486px;}	
}
@media only screen and (max-width:996px){
.header1{height: 484px; background-size:cover;}	
}
@media only screen and (max-width:988px){
.mobileimg{ background-size:300px; width: 280px;}	
}
@media only screen and (max-width:977px){
.svc_cat{width: 180px;}	
}
@media only screen and (max-width:961px){
.abtuscontent{ width:95%; max-width:95%; padding: 50px 0 0 30px;}	
.mobileimg{ width: 100%;background: url(../images/mobile.png) no-repeat center; background-size:350px; padding-right:0;}
}
@media only screen and (max-width:943px){
.header1{height: 444px; }	
.banner img{ margin-top: -37px;}
}
@media only screen and (max-width:927px){
.svc_cat{ width:33.33%;}	
}
@media only screen and (max-width:838px){
.header1{height: 400px; }	
.btnapp a img{ width:190px;}
}
@media only screen and (max-width:756px){
.header1{height: 380px; }	
.banner img{width: 73%; margin-top: -147px;}

}
@media only screen and (max-width:699px){
.header1{height: 340px; }	
.btnapp a img{ width: 130px;}
}
@media only screen and (max-width:690px){
.abtuscontent{ width:90%; max-width:90%;}	
}
@media only screen and (max-width:665px){
.header1{height: 300px; }	
}
@media only screen and (max-width:627px){
.header1{height:280px; }	
}
@media only screen and (max-width:612px){
.header1{height:260px; }	
}
@media only screen and (max-width:588px){
.banner img{ margin-top: -134px;}	
}
@media only screen and (max-width:570px){
.header1{height:250px; }	
}
@media only screen and (max-width:550px){
.header1{height:240px; }	
}
@media only screen and (max-width:545px){
.banner img{ margin-top: -125px;}	
}
@media only screen and (max-width:533px){
.header1{height:230px; }	
}
@media only screen and (max-width:522px){
.banner img{margin-top: -120px;}
.logo{ text-align:center;}	
.logo a img{ width:65%; text-align:center;}
}
@media only screen and (max-width:497px){
.banner img{ margin-top: -106px;}	
}
@media only screen and (max-width:470px){
.banner img{ margin-top: -93px;}	
}
@media only screen and (max-width:435px){
.banner img{width: 85%; margin-top: -112px;}	
}
@media only screen and (max-width:422px){
.banner img{margin-top: -105px;}	
.mobileimg{ background-size: 300px;}
}
@media only screen and (max-width:399px){
.banner img{margin-top: -93px;}	
.abtuscontent{ width: 87%; max-width:87%;}
}
@media only screen and (max-width:385px){
.banner img{margin-top: -93px; width: 91%;}	
}
@media only screen and (max-width:357px){
.banner img{margin-top: -84px; width: 91%;}	
}
@media only screen and (max-width:326px){
.btnapp a img{width: 117px;}
.header1{height: 206px;}	
}



